a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Lato", sans-serif;
  background-color: white;
}
.tofc{
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  font-size: 40px;
  position: relative;
  color: black;
  vertical-align: top;
}
.tofc th, .tofc td {
  padding: 10px;
  border: solid 1px black;
  text-align: center;
  background-color: #5cb85c;
}
.tofc table {
  border-collapse: collapse;
  font-size: 20px;
  color: white;
  margin: 0 auto;
}
.colparent{
  display: flex;
  overflow: hidden;
  margin: 1em 0;
  color: #fff;
}
.reviewimg{
  width: 300px;
  padding: 1em;
}
.review{
  margin-left: 300px;
  font-weight: bolder;
  font-size: 40px;
  position: relative;
  color: black;
  vertical-align: top;
}
.review th, .review td {
  padding: 10px;
  border: solid 1px black;
  text-align: center;
  background-color: #5cb85c;
}
.review td, .tofc td {
  color: black;
}
.review table {
  border-collapse: collapse;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.aboutus{
  border: 1px solid black;
  background-color: #5cb85c;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
  font-size: 25px;
}
.aboutus p, .aboutus li{
  color: white;
}
.headmain{

  margin-left: auto;
  margin-right: auto;
  text-align:center;
  padding: 5px;

}
.welcomeimg{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display:block;


}

.contactimg{
  width: 550px;
  transform: rotate(270deg);
  padding: 53px;
}
.contact{

  font-weight: bolder;
  font-size: 30px;
  position: relative;
  color: white;
  border: 1px solid black;
  background-color: #5cb85c;
  padding: 10px;
}
